.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    min-height: 100vh;

    .cart{
        width: 100%;
    }

    .carrinho{
        color: white;
        display: flex;
        justify-content: space-evenly;

        h2{
            margin-bottom: 1.5rem;
        }

        .itenscarrinho{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            article{
                width: 700px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #0E0E0E;
                padding: 1.2rem;
                border-radius: 0.3rem;

                .quantidade{
                    display: flex;
                    gap: 1rem;
                }
            }
      
        }

        .itensvalores{
            width: 550px;
            
            article{
                background: #0E0E0E;
                border-radius: 0.3rem;
                padding: 0.5rem 0;
                

                .itensingressos{
                    display: flex;
                    justify-content: space-between;
                    margin: 2rem;
                }

            }

            button{
                width: 550px;
                height: 3rem;
                color: #0E0E0E;
                background: rgba(234, 145, 56, 1);
                font-size: 1.5rem;
                border-radius: 0.3rem;
                margin-top: 2rem;
            }

            .line{
                margin: 0 auto;
                height: 1px;
                width: 90%;
                background: rgba(51, 49, 49, 1);

            }
        }

    }

}