.container {
  display: flex;
  align-self: center;
  align-items: center;

  height: 120px;
  width: 100%;
  max-width: 1684px;

  justify-content: space-between;

  .listFiliais {
    display: none;
    flex-direction: column;
    gap: 0.6rem;

    padding: 0.7rem;
    border-radius: 6px;

    position: absolute;

    background: #1d1d1d;

    p {
      color: #fff;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h1 {
    font-family: "Monoton", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100px;

    color: #EA9138;
  }

  nav {
    display: flex;
    gap: 60px;
  }

  .selectFilial {
    &:hover {
      .listFiliais {
        display: flex;
      }
    }
  }

  a, .selectFilial {
    font-family: 'Montserrat';
    font-size: 27px;
    text-decoration: none;

    color: #ffffffb3;
    cursor: pointer;

    // position: relative;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   height: 2px;
    //   width: 20px;
    //   background: #EA9138;
    //   bottom: -10px;
    //   left: calc(50% - 5px);
    // }
  }
}