.container {
  display: flex;
  align-items: center;

  width: 100%;
  
  padding: 10px 0;
  justify-content: space-between;

  background-color: #333131;

  h1 {
    font-family: "Monoton", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;

    color: #EA9138;

    margin-left: 40px;
  }

  nav {
    display: flex;
    gap: 60px;

    margin-right: 40px;
  }

  a {
    font-family: 'Montserrat';
    font-size: 27px;
    text-decoration: none;

    color: #ffffffb3;
  }
}